<h2>お気に入り一覧</h2>

<table>
  <tr>
    <th>ユーザ名</th>
    <th>本文</th>
    <th>画像</th>
  </tr>

  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= favorite.picture.user.name %></td>
      <td><%= favorite.picture.content %></td>
      <td><%= image_tag favorite.picture.image.url, :size =>'100x100' %></td>
    </tr>
  <% end %>
</table>